.cadastrar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 200px;
  width: 100%;
  height: 100%;
}

.content-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex-grow: 1;
}

.title {
  color: #007bff;
  font-size: 28px;
  margin-bottom: 20px;
}

form {
  width: 100%;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.link {
  padding: 5px 10px;
}

.videos-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.video-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  width: 300px;
  border-radius: 10px;
}

.video-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.remove-button {
  padding: 5px 10px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.remove-button:hover {
  background-color: #c9302c;
}

.ver-mais-button, .view-button, .add-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.ver-mais-button:hover, .view-button:hover, .add-button:hover {
  background-color: #0056b3;
}
