.card {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.item {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    background-color: #ffffff;
  }

